* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary-color: rgb(224, 75, 100);
  --secondary-color: rgb(34, 34, 34);
  --text-color: rgb(230, 230, 230);
  --white-color: white;
}

body {
  background-color: var(--secondary-color);
  font-family: Arial;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

p {
  color: var(--text-color);
  font-size: 15px;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.p-30 {
  padding: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--white-color);
}

/* Navigation Area Styling */

.main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links-div {
  padding: 40px;
}

.logoDiv h2 {
  margin-left: 70px;
  font-weight: bolder;
  color: var(--white-color);
  font-size: 28px;
  transition: 0.4s;
}

.logoDiv h2::first-letter {
  color: var(--primary-color);
  font-size: 30px;
}

.links-div a {
  padding: 10px;
}

/* Nav Hover Effects */

.links-div a:hover {
  border-bottom: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.logoDiv h2:hover {
  transform: scale(120%);
  transition: 0.4s;
}

/* Introductory Section Styling */

.intro-section {
  display: flex;
  justify-content: space-around;
}

.intro-section .text-area {
  margin-top: 125px;
  color: var(--white-color);
}

span.name {
  color: var(--primary-color);
  font-weight: bold;
}

.name-wrapper p {
  line-height: 30px;
  font-size: 30px;
}

.expert-skill h2 {
  font-weight: lighter;
  padding-bottom: 6px;
  font-size: 18px;
}

.image-area {
  width: 300px;
  margin-top: 30px;
}

.image-area img {
  width: 100%;
}

/* Media Query at 656px */

@media screen and (max-width: 656px) {
  .image-area img {
    display: none;
  }

  .intro-section {
    text-align: center;
  }

  .intro-section {
    margin: auto;
    display: block;
    margin-top: -90px;
  }

  .links-div a {
    display: none;
  }

  .main-container {
    display: block;
    margin: auto;
    text-align: center;
    margin-left: -70px;
    margin-top: 20px;
  }

  .about-me {
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }

  .about-me .about-us {
    text-align: center;
    margin: auto;
    width: 90%;
  }

  .about-me .my-img {
    margin: auto;
    margin-bottom: 30px;
  }

  .expertise {
    flex-direction: column;
  }

  .box1 {
    text-align: center;
  }
}

/* About Us Section Styling */

.about-me {
  display: flex;
  margin-top: 110px;
}

.my-img {
  width: 350px;
  width: 30%;
  margin: 23px;
}

.about-us {
  margin: 23px;
  width: 50%;
}

.my-img img {
  width: 100%;
}

.about-us p {
  color: var(--text-color);
}

.others {
  padding-top: 25px;
  margin-top: 50px;
}

.others a {
  border-bottom: 3px solid var(--primary-color);
  padding: 5px;
  font-size: 17px;
}

.others a:hover {
  color: var(--primary-color);
  border-bottom: 3px solid var(--white-color);
}

.skill {
  color: var(--primary-color);
  margin-top: 15px;
}

.explain {
  color: var(--text-color);
  padding: 10px;
}

/* Expertise Boxes Style */

.expertise {
  display: flex;
  justify-content: center;
}

.box1 {
  background-color: rgb(80, 80, 80);
  padding: 30px;
  margin: 10px;
  border-radius: 20px;
  transition: 0.3s;
}

.text {
  line-height: 28px;
}

.learn-more {
  padding: 3px;
  border-bottom: 2px solid var(--text-color);
  font-weight: bold;
}

.learn-more:hover {
  color: var(--white-color);
  border-bottom: 2px solid var(--white-color);
}

.expertise .box1:hover {
  background-color: var(--primary-color);
  transform: translateY(-5%);
  transition: 0.4s;
}

.bar, .bar2, .bar3, .bar4 {
  background-color: rgba(0, 0, 0, 0.17);
  height: 15px;
  width: 300px;
}

.main {
  color: var(--text-color);
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.line, .line2, .line3, .line4, .line5, .line6, .line7, .line8 {
  width: 290px;
  height: 15px;
  background: linear-gradient(90deg,rgba(224, 75, 100, 1) 35%,rgba(0, 212, 255, 1) 100%);
  transition: 1s;
}

.line:hover, .line2:hover, .line3:hover, .line4:hover {
  background: linear-gradient(90deg,rgba(224, 75, 100, 1) 35%,rgba(0, 212, 255, 1) 100%);
  transition: 1s;
}

.HTML, .CSS, .Bootstrap, .graphic-design {
  padding: 10px;
}

.line2 {
  background: linear-gradient(90deg,rgba(224, 75, 100, 1) 35%,rgba(0, 212, 255, 1) 100%);
  width: 250px;
}

.line4 {
  background: linear-gradient(90deg,rgba(224, 75, 100, 1) 35%,rgba(0, 212, 255, 1) 100%);
  width: 180px;
}

.line5 {
  background: linear-gradient(90deg,rgba(224, 75, 100, 1) 35%,rgba(0, 212, 255, 1) 100%) ;
  width: 250px;
}

.line6 {
  background: linear-gradient(90deg,rgba(224, 75, 100, 1) 35%,rgba(0, 212, 255, 1) 100%);
  width: 210px;
}

.line8 {
  background: linear-gradient(90deg,rgba(224, 75, 100, 1) 35%,rgba(0, 212, 255, 1) 100%);
  width: 250px;
}

.footer-copy-right-area {
  background-color: rgb(80, 80, 80);
  text-align: center;
}

.footer-copy-right-area i {
  color: var(--white-color);
  background-color: var(--secondary-color);
  border-radius: 50%;
  transition: 0.3s;
  padding: 12px;
  margin: 6px;
}

.footer-copy-right-area i:hover {
  background-color: var(--primary-color);
  transition: 0.3s;
}